@import '../../variables.scss';

.skills-page {
    margin-left: 15vw;
    max-width: fit-content;
    h1 {
        position: absolute;
        top: 15vh;
        left: 15vw;
    }
    .text-zone {
      position: absolute;
      left: 15%;
      top: 30%;
      width: 80%;
      max-height: 90%;
      animation: sideAnimation 3s 2s backwards;
      .part {
        float: left;
        &:first-of-type {
            margin-right: 5vw;
        }
      }
    }
}
  
  @keyframes sideAnimation {
    0% {
        opacity: 0;
        font-size: 1;
        left: 0;
        text-shadow: $element-color-semi-three 0 0 55px;
    }
    100% {
        opacity: 1;
        font-size: initial;
    }
  }