@import "../../variables.scss";

.skills-page {
  margin-left: 15vw;
  max-width: fit-content;
  h1 {
    position: absolute;
    top: 15vh;
    left: 15vw;
  }
  h4 {
    text-shadow: -1px 0 $element-color-three, 0 1px $element-color-three,
      1px 0 $primary-color, 0 -1px $primary-color;
  }
  .text-zone {
    position: absolute;
    left: 15%;
    top: 30%;
    width: 80%;
    max-height: 90%;
    animation: sideAnimation 3s 2s backwards;
    .part {
      float: left;
      margin-right: 5vw;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 871) {
  .text-zone {
    left: 27%;
    .part {
      margin-left: 5px;
    }
  }
}

@keyframes sideAnimation {
  0% {
    opacity: 0;
    font-size: 1;
    left: 0;
    text-shadow: $element-color-semi-three 0 0 60px;
  }
  100% {
    opacity: 1;
    font-size: initial;
  }
}
