.logo-container {
    z-index: -1;
    width: 400px;
    height: auto;
    position: absolute;
    top: 12%;
    right: 6%;
    bottom: 0;
    left: auto;
    margin:auto;
    opacity: 0.5;
    animation: a-container 6s;
    .svg {
        width: 100%;
        height: auto;
        bottom: 0;
    }
    .solid-logo {
        position: absolute;
        top: auto;
        right: 0;
        bottom: auto;
        left: auto;
        width: 100%;
        animation: a-logo 10s infinite alternate;
        border-radius: 35%;
    }
}


@keyframes a-logo{
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    80% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.2;
    }
}
@keyframes a-container {
    0% {
        width: 0;
    }
    100% {
        width: 400px;
    }
}