@import "../../variables.scss";
.container,
.about-page {
  width: 90vw;
}
.text-zone {
  position: absolute;
  top: 50%;
  transform: traanslateY(-50%);
  min-width: 90%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%;
  bottom: 15%;
}
.scroll {
  overflow-x: scroll;
}
p {
  max-width: 80vw;
  font-size: 22px;
  width: fit-content;
  color: $main-text-color;
  font-family: "Helvetica";
  font-weight: 300;
  padding: 0 5px;
  animation: both color-animation 6s;
  overflow: visible;
  &:first-of-type,
  &:last-of-type {
    animation-delay: 1.2s;
  }
  &:nth-of-type(3) {
    animation-delay: 1.4;
    animation-duration: 5s;
  }
  a {
    color: $element-color-semi-three;
    font-style: italic;
  }
}
.about-me {
  background-color: hsla(33, 10%, 10%, 0.8);
  max-height: 60%;
  overflow-y: scroll;
  margin-top: 0;
}

.text-animate-hover {
  &:hover {
    color: $element-color-three;
  }
}

@keyframes color-animation {
  0% {
    opacity: 0;
    color: $element-color-one;
  }
  20% {
    opacity: 0.5;
    color: $element-color-two;
  }
  40% {
    color: $element-color-four;
  }
  60% {
    color: $element-color-three;
  }
  70% {
    color: $element-color-semi-three;
  }
  100% {
    opacity: 1;
    color: inherit;
  }
}
