@import '../../variables.scss';

.text-zone {
  position: absolute;
  top: 50%;
  transform: traanslateY(-50%);
  width: 35%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%;
}
p {
  font-size: 22px;
  color: $main-text-color;
  font-family: 'Helvetica';
  font-weight: 300;
  max-width: 43%;
  animation: pulse 1s;
  &:nth-of-type(1) {
    animation-delay: 1.2s;
  }
  &:nth-of-type(2) {
    animation-delay: 1.4s;
  }
  &:nth-of-type(3) {
    animation-delay: 1.6s;
    span {
      animation: blink 18s infinite;
    }
  }
}

.text-animate-hover {
  &:hover {
    color: $element-color-three;
  }
}

.stage-cube-cont {
  width: 30%;
  height: 20%;
  top: 40%;
  left: 50%;
  margin-left: 100px;
  position: absolute;
  overflow: visible;
}
.cube-spinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 14s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 30px;
  margin-left: calc(50% - 100px);
  transition-duration: 12s;
  z-index: 2;
  div {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 4px double $element-color-three;
    background-color: hsla(15, 100%, 60%, 0.2);
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 35px 0px $element-color-semi-three;
    z-index: 10;
    svg {
      border-radius: 50%;
      animation: blink 12s infinite;
    }
  }
  .face1 {
    transform: rotateY(90deg) translateZ(150px);
  }
  .face2 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
  }
  .face3 {
    transform: rotateX(90deg) rotateZ(270deg) rotateY(90deg) translateZ(150px);
  }
  .face4 {
    transform: rotateY(-90deg) rotateZ(180deg) translateZ(150px);
  }
  .face5 {
    transform: rotateX(-90deg) translateZ(150px);
  }
  .face6 {
    transform: translateZ(150px);
  }
  &:hover {
    .face1 {
      transform: rotateY(90deg) translateZ(250px);
      transition-duration: 5s;
      transform-style: easy-out;
      background-color: hsla(15, 100%, 60%, 0.4);
    }
    .face2 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(250px);
      transition-duration: 5s;
      transform-style: easy-out;
    }
    .face3 {
      transform: rotateX(90deg) rotateZ(270deg) rotateY(90deg) translateZ(250px);
      transition-duration: 5s;
      transform-style: easy-out;
      background-color: hsla(15, 100%, 60%, 0.4);
    }
    .face4 {
      transform: rotateY(-90deg) rotateZ(180deg) translateZ(250px);
      transition-duration: 5s;
      transform-style: easy-out;
      background-color: hsla(15, 100%, 60%, 0.4);
    }
    .face5 {
      transform: rotateX(-90deg) translateZ(250px);
      transition-duration: 5s;
      transform-style: easy-out;
      background-color: hsla(15, 100%, 60%, 0.4);
    }
    .face6 {
      transform: translateZ(250px);
      transition-duration: 5s;
      transform-style: easy-out;
      background-color: hsla(15, 100%, 60%, 0.4);
    }
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}
