.contact-page {
  top: -60%;
}

.contact-form {
  border: 3px none none solid solid #33ffff;
  align-content: center;
  justify-content: center;
}

.contact-form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-form ul li {
  display: inline;
}
