.contact-page {
  top: -40%;
}

.contact-form {
  border: 3px none none solid solid #33ffff;
}

.contact-form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-form ul li {
  display: inline;
}
