.contact-page {
    top: -40%
}
.contact-form {
    border: 3px none none solid solid hsl(180, 100%, 60%);
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        display: inline;
    }
  }
}