@import '../../variables.scss';

.contact-form {
  width: 60%;
  ul {
    max-width: 60%;
    height: min-content;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flexbox;
    position: static;
    li {
      padding: 0;
      margin: 0;
      height: min-content;
      list-style: none;
      margin-bottom: 18px;
      overflow: visible;
      display: block;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
      input,
      textarea {
        top: 0;
        margin: 0;
        width: 70%;
        padding: 12px;
      }
      input[type='submit'] {
        width: 167px;
        margin: 0;
        text-align: center;
        margin-top: -60px;
      }
      textarea {
        box-sizing: 90%;
      }
    }
  }
  li.half {
    width: 48%;
    float: left;
    clear: none;
    position: static;
  }
  li.full:first-of-type {
    margin-top: -45px;
  }
  .textarea {
    overflow: scroll;
  }
}
.contact-link {
  &:first-of-type {
    margin-top: 8vh;
  }
  a {
    color: $element-color-semi-three;
    font-style: italic;
  }
}
@media (max-height: 920px) {
  input[type='submit'] {
    position: static;
  }
}
