.contact-page {
    top: 0%;
}
.contact-form {
    border: 3px none none solid solid hsl(180, 100%, 60%);
    align-content: center;
    justify-content: center;
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        display: inline;
    }
  }
}