$primary-color:  hsl(33, 10%, 10%);
$main-text-color: hsl(20, 5%, 98%);
$element-color-one: hsl(15, 100%, 60%);
$element-color-two: hsl(20, 100%, 51%);
$element-color-three: hsl(180, 100%, 60%);
$element-color-semi-three: hsl(180, 100%, 80%);
$element-color-four: hsl(10, 100%, 50%);